// blue - gray
$veryBrightyColor:#adc5d4;
$lightColor: #688494;
$darckerColor: #516672;
$veryDarckColor:  #374b57;
$cardColor: #3c4e58;


// $veryBrightyColor:#4cbfa6;
// $lightColor: #f6ebf4;
// $darckerColor: #482673;
// $veryDarckColor:  #ed0b70;
// $cardColor: #301008;


//  beige-green
// $veryBrightyColor:#c8b7a6;
// $lightColor: #c29591;
// $darckerColor: #7d94b5;
// $veryDarckColor: #703f37;
// $cardColor: #b6c199;

// Beige: #c8b7a6
// Perriwinkle: #7d94b5
// Dusty Rose: #c29591
// Maroon Brown: #703f37
// Muted Green: #b6c199

// blue - yellow
// $veryBrightyColor:rgb(229, 245, 54);
// $lightColor: rgb(202, 110, 23);
// $darckerColor: rgb(62, 80, 183);
// $veryDarckColor: rgb(40, 39, 39);

// Turquoise: #4cbfa6
// Soft Lilac: #f6ebf4
// Purple: #482673
// Orchid: #ed0b70
// Digi Denim: #301008