@use "colors" as c;

.footer{
    background-color: c.$almostBlack;
    color: c.$almostWhite;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: c.$almostWhite;
    font-size: 15px;
}