@use 'colors' as c;
.bodyContainerS2{
    background-color: c.$veryBrightyColor;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center
}
.cardContainerS2{
    display: flex;
    flex-direction: column;
    // width: 85%;
    max-width: 300px;
    height: auto;
    background-color: c.$cardColor;
    margin: 3% 4%;

  
}
.imgCardS2{
    width: 100%;
    height: 180px;
    background-color: c.$cardColor;
}
.textContainerS2{
   
    height: 25%;
    background-color: c.$lightColor;
    color: c.$veryDarckColor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    margin: 0%;
}
.titleCardS2{
    margin: 0%;
}
.textCardS2{
    margin: 0% ;
    font-size: smaller;
   
}
@media (min-width: 501px)

 {
    .bodyContainerS2{
        display: flex;
        flex-direction: row;
    }
    .cardContainerS2{
        width: 100%;
        height: 100%;
    }
    .imgCardS2{
        width: 100%;
       
    }
    .textContainerS2{ 
        justify-content: flex-start;
    }
}