@use 'colors' as c;

.bodyHomePage{
    background-color: c.$lightColor;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: c.$lightColor;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 1366px;
    min-width: 320px;
   flex-direction: column;
}
// *{
//     border-color: blueviolet;
//     border-style: solid;
//     border-width: 1px;
// } 