/* *{
    border-color: blueviolet;
    border-style: solid;
    border-width: 1px;
} */
.bodyHomePage{
    background-color: #f5f5f5;
   
    box-sizing: border-box;
    /* background-color: #00ffff; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 1366px;
    min-width: 320px;
   flex-direction: column;
}

darck-green rgb (8, 62, 43);
very-darck-green rgb (0, 17, 9);
underPicS2 rgb (228, 250, 233);
inputS1 text rgb (48, 111, 85);
inputAreaS1  rgb (133, 71, 94);
buttonS1 rgb (58, 112, 56);
